In [3]:
import numpy as np
import pandas as pd
import pickle

In [4]:
# Binary
f = open('adj_df.p', 'rb')
df1 = pickle.load(f)
f.close()

# Multiclass
f = open('mul_df.p', 'rb')
df2 = pickle.load(f)
f.close()

In [5]:
df1

,0,1,2,3,4,5,6,7,8,9,...,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647
Alito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Breyer,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
Ginsburg,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
Gorsuch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0
Kagan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,NaN,0.0,1.0
Kavanaugh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Kennedy,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
O'Connor,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rehnquist,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Roberts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
Scalia,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sotomayor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
Souter,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stevens,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Thomas,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0

In [6]:
df1.loc['Alito'][0]

nan

In [25]:
agree = []
disagree = []

justices = list(df1.index)
cases = list(df1.columns)
l = len(justices)
n = 0
for i in range(l - 1):
    justice1 = justices[i]
    j_agree = {}
    j_disagree = {}
    n += 1
    for j in range(n, l):
        justice2 = justices[j]
        j_agree[justice2] = 0
        j_disagree[justice2] = 0
        for case in cases:
            if str(df1.loc[justice1][case]) != 'nan' and str(df1.loc[justice2][case]) != 'nan':
                if df1.loc[justice1][case] == df1.loc[justice2][case]:
                    j_agree[justice2] += 1
                else:
                    j_disagree[justice2] += 1
    agree.append(j_agree)
    disagree.append(j_disagree)

In [26]:
agree

[{'Breyer': 738,
  'Ginsburg': 698,
  'Gorsuch': 172,
  'Kagan': 465,
  'Kavanaugh': 100,
  'Kennedy': 810,
  "O'Connor": 0,
  'Rehnquist': 0,
  'Roberts': 958,
  'Scalia': 654,
  'Sotomayor': 515,
  'Souter': 164,
  'Stevens': 206,
  'Thomas': 954},
 {'Ginsburg': 1412,
  'Gorsuch': 131,
  'Kagan': 620,
  'Kavanaugh': 84,
  'Kennedy': 1146,
  "O'Connor": 400,
  'Rehnquist': 336,
  'Roberts': 834,
  'Scalia': 836,
  'Sotomayor': 708,
  'Souter': 683,
  'Stevens': 726,
  'Thomas': 1013},
 {'Gorsuch': 136,
  'Kagan': 625,
  'Kavanaugh': 80,
  'Kennedy': 1102,
  "O'Connor": 377,
  'Rehnquist': 321,
  'Roberts': 790,
  'Scalia': 836,
  'Sotomayor': 736,
  'Souter': 722,
  'Stevens': 755,
  'Thomas': 1005},
 {'Kagan': 142,
  'Kavanaugh': 91,
  'Kennedy': 75,
  "O'Connor": 0,
  'Rehnquist': 0,
  'Roberts': 169,
  'Scalia': 0,
  'Sotomayor': 132,
  'Souter': 0,
  'Stevens': 0,
  'Thomas': 177},
 {'Kavanaugh': 85,
  'Kennedy': 461,
  "O'Connor": 0,
  'Rehnquist': 0,
  'Roberts': 519,
  'Scalia': 263,
  'Sotomayor': 618,
  'Souter': 0,
  'Stevens': 0,
  'Thomas': 449},
 {'Kennedy': 0,
  "O'Connor": 0,
  'Rehnquist': 0,
  'Roberts': 109,
  'Scalia': 0,
  'Sotomayor': 78,
  'Souter': 0,
  'Stevens': 0,
  'Thomas': 91},
 {"O'Connor": 426,
  'Rehnquist': 430,
  'Roberts': 871,
  'Scalia': 1056,
  'Sotomayor': 532,
  'Souter': 578,
  'Stevens': 605,
  'Thomas': 1192},
 {'Rehnquist': 407,
  'Roberts': 22,
  'Scalia': 394,
  'Sotomayor': 0,
  'Souter': 390,
  'Stevens': 358,
  'Thomas': 392},
 {'Roberts': 0,
  'Scalia': 406,
  'Sotomayor': 0,
  'Souter': 323,
  'Stevens': 294,
  'Thomas': 414},
 {'Scalia': 715,
  'Sotomayor': 589,
  'Souter': 208,
  'Stevens': 252,
  'Thomas': 938},
 {'Sotomayor': 328, 'Souter': 510, 'Stevens': 520, 'Thomas': 1181},
 {'Souter': 0, 'Stevens': 69, 'Thomas': 503},
 {'Stevens': 681, 'Thomas': 505},
 {'Thomas': 520}]

In [31]:
dicty = {}
for i in range(len(justices)-1):
    dicty[justices[i]] = agree[i]

In [54]:
ex = df1.T

In [55]:
cases_dict = {}
for case in ex.index:
    case_dict = []
    for justice in ex.columns:
        if ju

,Alito,Breyer,Ginsburg,Gorsuch,Kagan,Kavanaugh,Kennedy,O'Connor,Rehnquist,Roberts,Scalia,Sotomayor,Souter,Stevens,Thomas
0,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,1.0
1,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,1.0
2,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,1.0
3,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,1.0
4,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1643,1.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,1.0
1644,1.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,0.0
1645,1.0,0.0,0.0,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,1.0
1646,1.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,1.0
1647,1.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0

In [40]:
new_df = pd.DataFrame(dicty)

In [46]:
new_df = new_df[new_df.columns].fillna(0).astype('int')

In [47]:
new_df

,Alito,Breyer,Ginsburg,Gorsuch,Kagan,Kavanaugh,Kennedy,O'Connor,Rehnquist,Roberts,Scalia,Sotomayor,Souter,Stevens
Breyer,738,0,0,0,0,0,0,0,0,0,0,0,0,0
Ginsburg,698,1412,0,0,0,0,0,0,0,0,0,0,0,0
Gorsuch,172,131,136,0,0,0,0,0,0,0,0,0,0,0
Kagan,465,620,625,142,0,0,0,0,0,0,0,0,0,0
Kavanaugh,100,84,80,91,85,0,0,0,0,0,0,0,0,0
Kennedy,810,1146,1102,75,461,0,0,0,0,0,0,0,0,0
O'Connor,0,400,377,0,0,0,426,0,0,0,0,0,0,0
Rehnquist,0,336,321,0,0,0,430,407,0,0,0,0,0,0
Roberts,958,834,790,169,519,109,871,22,0,0,0,0,0,0
Scalia,654,836,836,0,263,0,1056,394,406,715,0,0,0,0
Sotomayor,515,708,736,132,618,78,532,0,0,589,328,0,0,0
Souter,164,683,722,0,0,0,578,390,323,208,510,0,0,0
Stevens,206,726,755,0,0,0,605,358,294,252,520,69,681,0
Thomas,954,1013,1005,177,449,91,1192,392,414,938,1181,503,505,520